:root {
	--primary: #4f342e;
	--primary-light: #7c5e57;
	--primary-dark: #260e04;
	--secondary: #90a4ae;
	--secondary-light: #c1d5e0;
	--secondary-dark: #62757f;
}

/* honeypot css */
form #website {
	opacity: 0;
	height: 0;
}

/* Background Colours */
.background-primary {
	background-color: var(--primary);
}
.background-primary-light {
	background-color: var(--primary-light);
}
.background-primary-dark {
	background-color: var(--primary-dark);
}

/* carousel */
.h-100 {
	max-height: 65em;
}

/* contact button */
.btn:focus {
	outline: 0;
	box-shadow: 0 0 0 0.1rem var(--primary-light);
}

.btn-primary-color {
	color: #fff;
	background-color: var(--primary);
	border-color: var(--primary);
}

.btn-primary-color:hover {
	color: #fff;
	background-color: var(--primary-light);
	border-color: var(--primary-light);
}

/* Side Menu */
#sidebar-wrapper {
	position: fixed;
	z-index: 2;
	right: 0;
	width: 250px;
	height: 100%;
	transition: all 0.4s ease 0s;
	transform: translateX(250px);
	background: var(--primary-light);
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 15px;
}

.sidebar-nav li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
	font-size: 1.2rem;
	background: rgba(52, 58, 64, 0.1);
	height: 80px;
	line-height: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
	color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
	color: #fff;
	background: none;
}

#sidebar-wrapper.active {
	right: 250px;
	width: 250px;
	transition: all 0.4s ease 0s;
}

.sidebar-icon {
	height: 3rem;
	width: 3rem;
}

.menu-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
	background: var(--primary-dark);
	line-height: 50px;
	z-index: 999;
}

.menu-toggle:focus,
.menu-toggle:hover {
	color: #fff;
}

.menu-toggle:hover {
	background: var(--primary-light);
}